* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 96px;
    color: #121212;
}

h2 {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 24 px;
    color: #121212;
    padding-left: 10vh;
   
}

h3 {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 20px;
    color: #121212;
    padding-left: 10vh;

}

h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    color: #121212;
}


p {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 15px;
    color: #121212;

}

section {
    padding-top: 5%;
}


header {
    text-align: center;
    padding: 10%;
    display: inline-block;
    background-image: url("../images/Mancha.svg");
    background-position-x: -100px;
    background-position-y: 190px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}

.subtitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 48px;

}

header p {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 17px;

}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: -50; 
    width: 100%; 
    transition: top 0.3s;
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 12px;    


     /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #121212;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #FFD900;
    color: black;
  }


  #navbar {
    background-image: url("../images/Header.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 130%;
}

.navbar-project {
    display: flex;
    justify-content: flex; 
}

.project-section a {
    text-decoration: none;
}

.project-section a :visited {
    color: #121212;
}

.projects {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-style: solid;
    columns: 2;
    column-width: 20px;
    display: flex;
}

.projects p {
    margin-left: 2%;
}

.projects h4 {
    margin-left: 2%;
}

.arrow-project {
    object-fit: cover;
    object-position: center;
    width: 56px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-project img{
    max-width:24px;
    height:auto;
 
}

.int-projects {
    width: 100%;
}

.about {
    padding: 10%;
    columns: 2;
    display: inline-flex;
}

#photo-about {
    object-fit: cover;
    object-position: center center;
    max-width: 50%;
    max-height: 100%;

}

#text-about {
    padding-left: 10%;

}

.about-icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#ft-correo a{
    text-decoration: none;
    color: #121212;
}

#ft-correo a:hover {
    text-decoration: none;
    color: #FFD900;
}

.email {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 20px;
    color: #121212;
    padding-left: 10vh;
}

footer {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 15px;
    color: #121212;
    padding: 10vh;
    text-align: center;
}

#ProyectosGraficos {
    display: none;
}

#ProyectoAV {
    display: none;
}

#ProyectosUXUI {
    display: block;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.boxyellow {
    height: 56px;
    width: 56px; 
    display: flex;
    background-image: url("../images/IconosRRSS.svg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.boxyellow img {
    height: 56px;
    width: 56px; 
    justify-content: center;
    align-items: center;
}


#linkedin {
    height: 32px;
    width: 32px;
    display: inline-block;
}

#linkedin img{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background-image: url("../images/Mancha.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 185%;
    justify-content: center;
    align-items: center;

}

button{
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    min-width: 100px;
    background: #FFD900;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17PX;
    border-radius: 3px;
    text-decoration: none;

}

button:hover{
        background: #121212;
        color: #FFD900;
        transition: all 0.1s ease-in;
      }
      
button:active{
        background: #121212;
        color: #FFD900;
        border-bottom-width: 2px;
        border-color: black;
}

@media screen and (min-width: 1441px){
    body{
       display: block;
       align-items: center;
    }

    header {
        display: block;
        background-position-x: 1vmax;
        background-position-y: 30vh;
        background-size: 80%;
    }

    .navbar-project {
        width: 100%;
    }
    
}

@media screen and (max-width: 414px) {
    header {
        display: block;
        background-size: 320%;
        background-position-x: 20px;
        background-position-y: 40px;
    }

    .navbar-project {
        width: 100%;
        display: flex;
        align-self: center;
        }

    h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 48px;
        color: #121212;

        }

    h2 {
        text-align: center;
        padding-left: 0;
    }

    h3 {
        display: none;

    }

    .subtitle {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 28px;
            
        }        
        
    #navbar  {
        background-image: none;
    }

    .nv-correo{
        visibility: hidden;
    }

    .navbar-project{
        display: block;
        flex-direction: column;
    }

    button{
        padding: 15px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        height: 45px;
        min-width: 80%;
    }


    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    #text-about {
        padding-left: 3%;
    }

    #photo-about {
        object-fit: none
        object-position: ;
        max-width: 100%;
    
    }

    .email {
        padding-left: 0;
    }

    footer {
        text-align: center;
        padding-top: 10%;
    }
     
}


@media screen and (min-width: 415px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}
}
