* {
    box-sizing: border-box;
}

@font-face {
    font-family:'Montserrat Alternates';
    src: url(../fonts/MontserratAlternates-BlackItalic.ttf);
}

@font-face {
    font-family:'SFMono-Regular';
    src: url(../fonts/SFMono-Regular.otf);
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 96px;
    color: #121212;
}

h2 {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 24px;
    color: #121212;
    padding-left: 10vh;
   
}

h3 {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 20px;
    color: #121212;
    padding-left: 10vh;

}

h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    color: #121212;
}


p {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 15px;
    color: #121212;

}

section {
    padding-top: 5%;
}


header {
    text-align: center;
    padding: 10%;
    display: inline-block;
    background-image: url("../images/Mancha.svg");
    background-position-x: -100px;
    background-position-y: 190px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 48px;

}

header p {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 17px;

}
.arrow-project img{
    max-width:24px;
    height: auto;
}
.arrow-project a{
    width: 50% !important;
}

.arrow-project:hover{
    background-color: #FFD900;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    object-position: center;
    width: 56px;
    position: relative;
    background-image: url(../images/arrowhover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    width: 10%;
}

.arrow-project:hover img{
    visibility: hidden;
    background-image: url("../images/arrowhover.svg");
}


#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; 
    width: 100%; 
    height: 40px;
    transition: top 0.3s;
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.85);    


     /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #121212;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #FFD900;
    color: black;
  }


  #navbar {
    background-image: url("../images/Header.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 130%;
}

.navbar-project {
    display: flex;
}

.project-section a {
    text-decoration: none;
}

.project-section a :visited {
    color: #121212;
}

.projects {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-style: solid;
    columns: 2;
    column-width: 20px;
    display: flex;
}

.projects p {
    margin-left: 2%;
}

.projects h4 {
    margin-left: 2%;
}

.arrow-project {
    object-fit: cover;
    object-position: center;
    width: 56px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int-projects {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupBody{
    width: 65%;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 500ms ease-in-out;
    margin: 20% auto;    
}

#cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.about {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
}



#photo-about {
    max-width: 50%;
    padding-right: 5%;
    object-fit: cover;
    object-position: center center;
}

.textandrrss-about {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-icons {
    display: flex;
    justify-content: space-around;
}
#cookie_yes{
    display: inline-block;
    padding: 15px;
    margin-right: 20px;
    height: 45px;
    min-width: 100px;
    background: #1db954;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17PX;
    border-radius: 3px;
    text-decoration: none;
    color: #121212;
}

#cookie_yes:hover{
    background: #121212;
    color: #1db954;
    transition: all 0.1s ease-in;
  }

 #ft-correo a{
    display: inline-block;
    padding: 15px;
    margin-right: 20px;
    height: 45px;
    min-width: 100px;
    background: #FFD900;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17PX;
    border-radius: 3px;
    text-decoration: none;
    color: #121212;
}
#ft-correo a:hover{
    background: #121212;
    color: #FFD900;
    transition: all 0.1s ease-in;
  }

#botonpopup a{
    display: inline-block;
    padding: 15px;
    margin-right: 20px;
    height: 45px;
    min-width: 100px;
    background: #FFD900;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17PX;
    border-radius: 3px;
    text-decoration: none;
    color: #121212;
}

#botonpopup a:hover{
    background: #121212;
    color: #FFD900;
    transition: all 0.1s ease-in;
  }

.email {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 20px;
    color: #121212;
    margin-left: 10vw;
}

footer {
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    font-size: 15px;
    color: #121212;
    padding: 10vh;
    text-align: center;
}

#ProyectosGraficos {
    display: none;
    transition: all 0.1s ease-in-out;
}

#ProyectoAV {
    display: none;
    transition: all 0.1s ease-in-out;
}

#ProyectosWebDesign {
    display: none;
    transition: all 0.1s ease-in-out;
}

#ProyectosUXUI {
    display: block;
    transition: all 0.1s ease-in-out;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.boxyellow {
    height: 56px;
    width: 56px; 
    display: flex;
    background-image: url("../images/IconosRRSS.svg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.boxyellow img {
    height: 56px;
    width: 56px; 
    justify-content: center;
    align-items: center;
}

.boxyellow:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

#linkedin {
    height: 32px;
    width: 32px;
    display: inline-block;
}

#linkedin img{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background-image: url("../images/Mancha.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 185%;
    justify-content: center;
    align-items: center;

}

button{
    display: inline-block;
    font-family: 'SFMono-Regular', 'Space Mono', monospace;
    padding: 15px;
    margin: 10px;
    height: 45px;
    min-width: 100px;
    background: #FFD900;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17px;
    border-radius: 3px;
    text-decoration: none;

}

button:hover{
        background: #121212;
        color: #FFD900;
        transition: all 0.1s ease-in;
      }
      
button:active{
        background: #121212;
        color: #FFD900;
        border-bottom-width: 2px;
        border-color: black;
}

.scroll {
    display: flex;
    padding-left: 10%;
    width: 100%;
    height: 125px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.textscroll {
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
    width: 100%;
    height: 125px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.textscroll span{
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    height: 45px;
    min-width: max-content;
    background: #ffffff;
    color: #121212;
    font-size: 17px;
    border-radius: 3px;
}

.textscroll span:hover{
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}

.scroll img{
  width: 100%;
  object-fit: contain;
  scroll-snap-align: center;
}

.scroll img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

#ab-spotify a{
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    min-width: 100px;
    background: #FFD900;
    border: none;
    outline: none;
    color: #121212;
    font-size: 17PX;
    border-radius: 3px;
    text-decoration: none;
    color: #121212;
}

#ab-spotify a:hover{
    background: #1db954;
    color: #FFffff;
    transition: all 0.1s ease-in;
  }

  .textlegalcookies {
      margin-left: 10vh;
      margin-right: 10vh;
      margin-bottom: 10vh;
  }

  .cookie-disclaimer {
    background: rgb(0, 0, 0, 0.5)
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 25%;
    position: fixed;
  }  

  .cookie-disclaimer p {
      color: #FFF;
  }
  .container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  

  
@media screen and (min-width: 1441px){
    body{
       display: block;
       align-items: center;
    }

    header {
        display: block;
        background-position-x: 1vmax;
        background-position-y: 30vh;
        background-size: 80%;
    }

    .navbar-project {
        width: 100%;
    }
    
}

@media screen and (max-width: 534px) {
    header {
        display: block;
        background-size: 320%;
        background-position-x: 20px;
        background-position-y: 40px;
    }

    .navbar-project {
        width: 100%;
        display: flex;
        align-self: center;
        }

    h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 48px;
        color: #121212;

        }

    h2 {
        text-align: center;
        padding-left: 0;
    }

    h3 {
        display: none;

    }

    .subtitle {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 28px;
            
        }        
        
    #navbar  {
        background-image: none;
    }

    .nv-correo{
        visibility: hidden;
    }

    .navbar-project{
        display: block;
        flex-direction: column;
    }

    #cookie_yes{
            padding: 15px;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 20px;
            height: 45px;
            min-width: 80%;
    }

    button{
        padding: 15px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        height: 45px;
        min-width: 80%;
    }

    #popupBody{
        width: 90%;
        margin: 25% auto; 
        padding-left: 10%;
    }


    #ft-correo a{
        padding: 15px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        height: 45px;
        min-width: 80%;
        text-align: center;
    }

    .email {
        margin-left: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    #photo-about {
        object-fit: cover;
        object-position: center center;
        max-width: 110%;
        margin-bottom: 5%;
    }

    .textandrrss-about {
        max-width: 100%; 
    }

    #text-about {
    margin-bottom: 10%;
    }

    footer {
        text-align: center;
        padding-top: 10%;
    }

    .cookie-disclaimer {
        height: 40%;
    }
     
    .arrow-project:hover{
        width: 33%;
    }

    .scroll img{
        flex: 0 1 100%;
    }

    .scroll span{
        flex: 0 1 100%;
    }
}


@media screen and (min-width: 535px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}
